@media screen and (max-width: 1000px) {
    .wrapper {
        padding: 3.1vw 5% 9px;
    }
    .window {
        padding: 3.1vh 5% 9px;
    }
    .wrapper__title {
        font-size: 5.8vw;
    }
    .wrapper__title2 {
        font-size: 1.9vw;
    }
    .wrapper__text {
        font-size: 2.2vw;
    }
    .window__text {
        font-size: 3.1vw;
    }
    .wrapper__btn-more {
        font-size: 2.2vw;
    }
    .wrapper__title {
        margin-bottom: 1.1vw;
    }
    .wrapper__column svg{
        margin-left: 3vw;
        margin-bottom: 2vw;
    }
    .c_two {
        margin-left: 2.8vw;
    }
}