@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&family=Zen+Old+Mincho:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Yeseva+One&family=Zen+Old+Mincho:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&family=Roboto&family=Yeseva+One&family=Zen+Old+Mincho:wght@700&display=swap');
img {
    width: 100%;
}
.wrapper {
    position: relative;
    background: url('../img/bg.jpg') no-repeat center;
    background-size: cover;
    max-width: 848px;
    max-height: 480px;
    margin: auto;
    padding: 5.5vh 5% 9px;
}
.wrapper__row {
    display: flex;
    align-items: flex-start;
    z-index: 2;
}
.wrapper__column {
    display: block;
    align-items: flex-start;
}
.wrapper__column svg{
    margin-left: 31px;
    margin-bottom: 20px;
    width: 12.3vw;
    max-width: 123px;
    min-width: 61px;
    height: auto;
}
.c_two {
    margin-left: 28px;
}
.wrapper__btn-more {
    width: 18.4vw;
    max-width: 184px;
    min-width: 92px;
    max-height: 78px;
    border-radius: 14px;
    background: #EAAB23;
    border: none;
    text-align: center;
    font-family: Roboto;
    font-size: 22px;
    cursor: pointer;
}
.wrapper__btn-more:hover {
    opacity: 0.8;
}
.wrapper__title {
    color: #FFF;
    font-family: Yeseva One;
    font-size: 60px;
    margin-bottom: 11px;
    margin-top: 0;
    line-height: 75%;
}
.wrapper__title2 {
    color: #FFF;
    font-family: Yeseva One;
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0;
}
.wrapper__links {
    display: flex;
    z-index: 2;
    justify-content: space-between;
    margin-top: 5.7vw;
}
.link {
    width: 21.7%;
}
.wrapper__btn-geo {
    border: none;
    background: none;
    z-index: 2;
    position: absolute;
    left: 27.5%;
    bottom: 13%;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-name: bounce-3;
    animation-timing-function: ease;
    cursor: pointer;
}
.wrapper__btn-geo:hover {
    opacity: 0.8;
}
.wrapper__btn-geo svg {
    width: 8.5vw;
    max-width: 85px;
    min-width: 43px;
}
@keyframes bounce-3 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-20px); }
    100% { transform: translateY(0); }
}
.wrapper__text {
    display: block;
    text-align: center;
    color: #FFF;
    font-family: Roboto;
    font-size: 22px;
    z-index: 2;
    margin: 0 auto;
    margin-top: 21px;
}


.window {
    margin: auto;
    padding: 5.5vh 5% 9px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
.wrapper__first-link {visibility: hidden;}
.wrapper__first-link img {visibility: visible;}
.wrapper__first-link:hover {visibility: visible;}

.wrapper__second-link {visibility: hidden;}
.wrapper__second-link img {visibility: visible;}
.wrapper__second-link:hover {visibility: visible;}

.wrapper__third-link {visibility: hidden;}
.wrapper__third-link img {visibility: visible;}
.wrapper__third-link:hover {visibility: visible;}

.one{
    background: url('../img/bg2.jpg') no-repeat center;
    background-size: cover;
    max-width: 848px;
    max-height: 480px;
}
.two{
    background: url('../img/bg3.jpg') no-repeat center;
    background-size: cover;
    max-width: 848px;
    max-height: 480px;
}
.three{
    background: url('../img/bg4.jpg') no-repeat center;
    background-size: cover;
    max-width: 848px;
    max-height: 480px;
}
.window__text {
    color: #FFF;
    font-family: Inter;
    font-size: 31px;
    margin: 0;
}
.window__row2 {
    display: flex;
    justify-content: space-between;
    margin-top: 33px;
}
.window__row2 svg {
    transition: .3s ease-in-out;
    animation-name: phone;
    animation: phone linear 1s infinite;
    border-radius: 50px;
    cursor: pointer;
    width: 9.9vw;
    max-width: 99px;
    min-width: 57px;
}
.window__row2 svg:hover {
    opacity: 0.8;
}
.window__btn-choose {
    border-radius: 27px;
}
@keyframes phone {
    0% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 0 rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
    }
    10% {
        transform: rotateZ(-30deg);
        -ms-transform: rotateZ(-30deg);
        -webkit-transform: rotateZ(-30deg);
    }
    20% {
        transform: rotateZ(15deg);
        -ms-transform: rotateZ(15deg);
        -webkit-transform: rotateZ(15deg);
    }
    30% {
        transform: rotateZ(-10deg);
        -ms-transform: rotateZ(-10deg);
        -webkit-transform: rotateZ(-10deg);
    }
    40% {
        transform: rotateZ(7.5deg);
        -ms-transform: rotateZ(7.5deg);
        -webkit-transform: rotateZ(7.5deg);
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 15px rgba(56, 163, 253, 0.2), 0 0 0 0 rgba(56, 163, 253, 0.2)
    }
    50% {
        transform: rotateZ(-6deg);
        -ms-transform: rotateZ(-6deg);
        -webkit-transform: rotateZ(-6deg);
    }
    60% {
        transform: rotateZ(5deg);
        -ms-transform: rotateZ(5deg);
        -webkit-transform: rotateZ(5deg);
    }
    70% {
        transform: rotateZ(-4.28571deg);
        -ms-transform: rotateZ(-4.28571deg);
        -webkit-transform: rotateZ(-4.28571deg);
    }
    80% {
        transform: rotateZ(3.75deg);
        -ms-transform: rotateZ(3.75deg);
        -webkit-transform: rotateZ(3.75deg);
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 26.7px rgba(56, 163, 253, 0.067)
    }
    90% {
        transform: rotateZ(-3.33333deg);
        -ms-transform: rotateZ(-3.33333deg);
        -webkit-transform: rotateZ(-3.33333deg);
    }
    100% {
        transform: rotateZ(0deg);
        -ms-transform: rotateZ(0deg);
        -webkit-transform: rotateZ(0deg);
        box-shadow: 0 8px 10px rgba(56, 163, 253, 0.3), 0 0 0 30px rgba(56, 163, 253, 0), 0 0 0 40px rgba(56, 163, 253, 0.0)
    }
}